.naivgation-anchor {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    flex-grow: 1;
    padding: 0 2rem;
    color: var(--clr-text-white);
    transition: all 100ms ease-in-out;
}

.naivgation-anchor:hover {
    border-radius: 10px 0px 0px 10px;
    margin-left: -1.5em;
    padding-left: 3.5em;
}

.icon {
    font-size: 2.5em;
}

@media screen and (max-width: 1368px) {
    .naivgation-anchor {
        font-size: .8em;
    }

    .naivgation-anchor:hover {
        margin-left: -1em;
        padding-left: 3.5em;
    }
}