:root {
  --clr-text-black: #202020;
  --clr-text-white: #ffffff;

  --clr-lightGrey: #353942;
  --clr-grey: #2c3038;
  --clr-yellow: #f5bf00;
  --clr-lightOrange: #f7951c;
  --clr-darkOrange: #f36422;
  --clr-red: #ed1c24;
  --clr-darkPink: #e10257;
  --clr-pink: #b900a4;
  --clr-purple: #873e95;
  --clr-blue: #3c70b5;
  --clr-cyan: #04ad81;
  --clr-greenYellow: #87c15e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-text-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}