.navigation-header {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    gap: 3rem;
    flex-grow: 1;
}

.photo {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    object-fit: cover;
}

.logo {
    font-size: 2em;
}